*.class
*.dir
*.ear
*.iml
*.jar
*.log
*.nar
*.rar
*.tar
*.tar.bz2
*.tar.gz
*.tar.snappy
*.tar.xz
*.tbz2
*.tgz
*.txz
*.war
*.zip
.DS_Store
.idea/
.surefire-*
dependency-reduced-pom.xml
release.properties
target/
